In [ ]:
import math

import numpy as np

In [ ]:
m = 10
n = 20

In [ ]:
def init_table(m=10, n=20):

    return (
        np.array(range(n * m), dtype=object)
            .reshape(n, m)
    )

In [ ]:
table = init_table(m, n)
table

In [ ]:
def set_i(table, i, val=' ', m=10, n=20):
    table.reshape((1, m*n))[0, i] = val

In [ ]:
set_i(table, 0, ' ')
set_i(table, 1, ' ')

In [ ]:
table

In [ ]:
def remove_multiples(table, i, m=10, n=20):
    for k in range(i*2, m*n, i):
        set_i(table, k, ' ')

In [ ]:
remove_multiples(table, 2)
table

In [ ]:
for k in range(3, int(m*n**0.5)+1):
    remove_multiples(table, k)
    print(k)
    print(table)